In [6]:
import pandas as pd
import sqlalchemy

In [7]:
df_category = pd.read_csv(
        filepath_or_buffer='Category.csv',
        sep=';'
)

In [8]:
def write_df_to_rds(df: pd.DataFrame, conn, schema, table_name):
    """
        This function writes an incoming Pandas Dataframe to the RDS Database. 
        
        parameters: 
            -df: incoming Pandas Dataframe
            -conn: incoming SQL Alchemy engine object 
            -schema: table schema within the RDS database
            -table_name: destination table name within the RDS database
    """
    
    df.to_sql(
        name=table_name, 
        con=conn, 
        schema=schema,
        if_exists='replace'
    )

In [9]:
# Define static RDS connection credentials
servername = 'NB-SMET-5CD3102PV6'
dbname = 'syntra_dwh'
conn = sqlalchemy.create_engine(
    'mssql+pyodbc://@' + servername + '/' + dbname + '?trusted_connection=yes&driver=ODBC+Driver+17+for+SQL+Server'
) 

write_df_to_rds(
    df_category,
    conn,
    'staging',
    'stg_category_metadata'
)

In [10]:
print(df_category.head())
print(df_category.info())

  Ticker         Ticker_name Category
0    NaN                 NaN      NaN
1    GLD    SPDRÂ Gold Shares     Gold
2    NaN                 NaN      NaN
3    IAU  iShares Gold Trust     Gold
4    NaN                 NaN      NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Ticker       50 non-null     object
 1   Ticker_name  50 non-null     object
 2   Category     50 non-null     object
dtypes: object(3)
memory usage: 2.5+ KB
None